body{
    margin:0 2em;padding:0px;background:#fff;color:#000;
    font-family:Vazir, Sans-Serif;direction:rtl;}
h1{padding:4px;text-align:center;border:4px double #000;background:#ffd;}
h2{padding:4px;border:1px solid #888;background:#ffd;}
header{margin-bottom: 4em;}
footer{margin-top:4em;}
table{border:0;margin-left:auto;margin-right:auto;margin-bottom:10px;}
th{background:#bbd;color:white;padding:2px;}
td{padding:2px;border-bottom:1px dotted #bbd;}
img{border:0;vertical-align: middle;}
blockquote{font-weight:bold;font-size:80%;}
a:hover {background:#ff0;}
a:hover img {background:#fff;}
.headtext{color:#889;text-align:center;}
#directory{text-align:center;margin-left:auto;margin-right:auto;}
#bandwidth{color:#889;text-align:center;font-size:75%;}
.bandwidth{color:#889;text-align:center;font-size:75%;}
#news{color:#003;}
#donors{text-align:center;margin-left:auto;margin-right:auto;}
#trademark{font-size:75%;text-align:center;}
#versions{text-align:center;}
.kver{text-align:center;color:#004;font-size:90%;}
.pvkey{color:#400;font-size:66%;}
.ltr{direction:ltr;}
p{margin:10px;}
button {
    background-color: #000080;
    padding: 8px 8px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
}
.fa{direction:rtl;}
.en{direction:ltr;}
.languageBar {
    position: relative;
    width: 160px;
    overflow: hidden;
    margin: 1em;
    direction: ltr;
    transition: top 0.5s;
}